body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 1px solid black;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.interface__wrapper {
    position: absolute;
    display: block;
    background-color: white;
    top: 10px;
    left: 10px;
    width: 420px;
    border: 1px solid black;
    border-radius: 10px;
}

.interface__wrapper-inner {
    padding: 10px 20px;
}

.interface__wrapper.shrink .interface__wrapper-inner {
    display: none;
}

/* @media screen and (max-width: 512px) {
    .interface__wrapper {
        position: unset;
        max-width: 100%;
    }
} */

.interface__sub-heading {
    margin: 0 0 1rem 0;
}

.interface__btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.interface__btn {
    min-width: 25px;
}

.interface__btn:hover {
    cursor: pointer;
}

.interface__btn:focus {
    outline: 0;
}

.interface__btn:first-child {
    margin-right: 0.5rem;
}

.interface__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.interface__input-wrapper.color input {
    width: 50px;
}

.interface__input-wrapper--right {
    justify-content: flex-end;
    margin-bottom: 0;
}

.interface__input-wrapper:last-child {
    margin-bottom: 0;
}

.interface__rule-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.interface__input-inner-wrapper {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interface__input-field {
    width: 100px;
    margin-left: 1rem;
}

.interface__load-btn {
    width: 108px;
}

.interface__load-btn:hover {
    cursor: pointer;
}

.interface__load-btn:focus {
    outline: 0;
}

.interface__generate-wrapper {
    display: flex;
    justify-content: space-between;
}

.interface__generate-btn {
    align-self: flex-end;
    margin: 0 !important;
    background: red;
}

.interface__upload-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.interface__upload-wrapper--right {
    justify-content: flex-end;
}

input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    background: darkgray;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    color: white;
}
